@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
  margin: 0;
}
.App{
  background-color: #111111;
  font-family: 'Varela Round', sans-serif;
  button{
    font-family: 'Varela Round', sans-serif;
  }

}
@media screen and (min-width: 240px) {
  .swiper-container {
    width: 240px;
  }
}
@media screen and (min-width: 370px) {
  .swiper-container {
    width: 370px;
  }
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}
@media screen and (min-width: 960px) {
  .swiper-container {
    width: 100%;
  }
}
@media screen and (max-width: 959px) {
  .swiper-pagination {
    display: none;
  }
}
.swiper-pagination{
  bottom: 5px !important;
}
.swiper-pagination-bullet{
  background-color: #ffffff !important;
  opacity: 0.3 !important;
  bottom: 0 !important;
  
}
.swiper-pagination-bullet-active{
  opacity: 1 !important;
}
.swiper-scrollbar{
  bottom: 0 !important;
  background: rgba(239, 239, 239,0.3) !important;
}
.swiper-scrollbar-drag{
  background: rgba(255, 40, 40,0.6) !important;
}
.swiper-button-prev, .swiper-button-next{
  color: #fff !important;
}
